body {
    /* font-family: Verdana, sans-serif; */
    margin: 0;
    /* line-height: 1.6; */
    /* background-color: black; */
    background-image: url("/fast-food/Menu List/img/home-bg.jpg");
}


/* header logo,navbar,login,signup start */
.navb {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    margin: 10px;
    padding-left: 15px;
}

/* logo start */
.navbdiv {
    display: flex;
    justify-content: space-between;
}

/* logo end */
/* navbar start */
.navbmenu ul li {
    display: inline-block;
    margin: 10px;
}

.navbmenu ul li a {
    position: relative;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    color: rgb(255, 230, 230);
    padding: 6px 15px;
    transition: .5s;
}

.navbmenu ul li a:hover {
    font-size: 22px;
    color: #0ef;
}

.navbmenu ul li a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 2px solid #0ef;
    border-radius: 15px;
    transform: scale(0) translate Y(50px);
    opacity: 0;
    transition: .5s;
}

.navbmenu ul li a:hover span {
    transform: scale(1) translateY(0);
    opacity: 1;
}

.right {
    width: 500px;
    height: 440px;
    background-image: url("/fast-food/Menu List/img/bg11.png");
    background-size: cover;
    background-position: right;
    display: flex;
    align-items: center;
    margin-left: 849px;
    margin-top: 50px;
}

.right::before {
    width: 410px;
    height: 410px;
    border: 2px solid white;
    content: '';
    position: absolute;
    border-radius: 430px;
}

/* navbar end */
.credential {
    margin-top: 8px;
}

.credential button::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, #00fffc, transparent);
    transform: translateX(-100%);
    transition: 0.6s;
    position: absolute;
}

.credential button:hover {
    background: transparent;
    box-shadow: 0 0 20px 5px #00fffc;
    font-size: 15px;
}

.credential button {
    position: relative;
    margin: 1px;
    padding: 5px 10px;
    height: 34px;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    overflow: hidden;
    margin-right: 20px;
    letter-spacing: 1px;
    background: transparent;
}

.ul-links {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* header logo,navbar,login,signup end */



/* Restaurant Menu */
.category {
    list-style: none;
    text-align: center;
    margin: 20px 0 40px 0;
    color: rgb(253, 246, 246);
}

.category a{
    text-decoration: none;
    color: white;
}

.category li {
    display: inline-block;
    margin: 0 20px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.category li.active {
    color: var(--clr-primary);
}

.restaurant-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.menu-item {
    width: 260px;
    margin: 0 auto;
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid gray;
    padding: 8px;
}

.menu-item img {
    width: 100%;
    border-radius: 8px;
}

.order {
    justify-content: space-between;
}

.btn-menu {
    padding: 6px 10px;
    font-size: 16px;
    text-align: center;
    background: #fff;
    border: 1px solid var(--clr-primary);
    color: var(--clr-primary);
}

.title {
    font-size: 18px;
    font-weight: 300;
    margin: 8px 0;
    color: white;
}

.location {
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.price {
    color: white;
}

.flex {
    display: flex;

}

.btn {
    text-decoration: none;
    border-radius: 5px;
}

/* End Restaurant Menu */